# 指定忽略不需要上传的文件

##############################################
# 前端忽略文件
##############################################

# git

# npm
node_modules
npm-debug.log

# bower
bower_components

# test
**/test

**/dist

##############################################
# 后端忽略文件
##############################################

