# 指定忽略不需要上传的文件

##############################################
# 前端忽略文件
##############################################

# git
#.gitignore

# npm
package.json
node_modules
npm-debug.log

# bower
www/bower_components
www/bower.json

# WebStorm
www/.idea

# Grunt
Gruntfile.js

##############################################
# 后端忽略文件
##############################################

