/* line 7, html/app/moments/moments.less */
.moments-list figure {
  margin: 0 0 20px;
}
/* line 9, html/app/moments/moments.less */
.moments-list figure img {
  display: block;
}
/* line 12, html/app/moments/moments.less */
.moments-list figure .photo {
  position: relative;
}
/* line 14, html/app/moments/moments.less */
.moments-list figure .photo .photo-over {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 100%;
  background-color: transparent;
  opacity: 0;
  -webkit-transition: all .2s;
          transition: all .2s;
}
/* line 26, html/app/moments/moments.less */
.moments-list figure .photo .photo-over [class^="fi-"] {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  margin-left: -0.5em;
  color: #ffffff;
  font-size: 36px;
}
/* line 37, html/app/moments/moments.less */
.moments-list figure .photo:hover .photo-over,
.moments-list figure .photo:focus .photo-over {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 44, html/app/moments/moments.less */
.moments-list figcaption {
  height: 42px;
  margin-top: 8px;
  line-height: 42px;
}
/* line 48, html/app/moments/moments.less */
.moments-list figcaption .avatar {
  float: left;
  margin-right: 10px;
}
/* line 51, html/app/moments/moments.less */
.moments-list figcaption .avatar img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
/* line 57, html/app/moments/moments.less */
.moments-list figcaption .name {
  float: left;
  font-size: 14px;
}
/* line 60, html/app/moments/moments.less */
.moments-list figcaption .name:hover,
.moments-list figcaption .name:focus {
  text-decoration: underline;
}
/* line 65, html/app/moments/moments.less */
.moments-list figcaption .like {
  float: right;
}
/* line 67, html/app/moments/moments.less */
.moments-list figcaption .like [class^="fi-"] {
  font-size: 18px;
}
/* line 70, html/app/moments/moments.less */
.moments-list figcaption .like .fi-heart-empty {
  color: #bbbbbb;
}
/* line 72, html/app/moments/moments.less */
.moments-list figcaption .like .fi-heart-empty:hover,
.moments-list figcaption .like .fi-heart-empty:focus {
  color: #ff5736;
}
/* line 77, html/app/moments/moments.less */
.moments-list figcaption .like .fi-heart-full {
  color: #ff5736;
}
/* line 88, html/app/moments/moments.less */
.moment-details .breadcrumb {
  line-height: 2;
  margin-bottom: 20px;
}
/* line 91, html/app/moments/moments.less */
.moment-details .breadcrumb i {
  margin-right: 5px;
}
/* line 94, html/app/moments/moments.less */
.moment-details .breadcrumb a {
  display: inline-block;
}
/* line 96, html/app/moments/moments.less */
.moment-details .breadcrumb a:hover,
.moment-details .breadcrumb a:focus {
  text-decoration: underline;
}
