/* line 8, html/app/index/index.less */
body:after {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
  background: -webkit-linear-gradient(rgba(90, 85, 78, 0.45) 0%, rgba(100, 94, 85, 0.45) 20%, rgba(36, 43, 39, 0.55) 100%);
  background: linear-gradient(rgba(90, 85, 78, 0.45) 0%, rgba(100, 94, 85, 0.45) 20%, rgba(36, 43, 39, 0.55) 100%);
  content: "";
}
/* line 24, html/app/index/index.less */
img.photo-of-today {
  position: fixed;
  top: -100%;
  left: -100%;
  bottom: -100%;
  right: -100%;
  z-index: 0;
  margin: auto;
  -webkit-animation: photoOfToday 8s ease-in-out;
          animation: photoOfToday 8s ease-in-out;
}
@-webkit-keyframes photoOfToday {
  /* line 36, html/app/index/index.less */
  from {
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
  /* line 39, html/app/index/index.less */
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes photoOfToday {
  /* line 36, html/app/index/index.less */
  from {
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
  /* line 39, html/app/index/index.less */
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/* line 45, html/app/index/index.less */
section.upper {
  position: absolute;
  top: 15%;
  left: 0;
  z-index: 2;
  width: 100%;
  text-align: center;
}
/* line 52, html/app/index/index.less */
section.upper .sj-logo {
  font-size: 160px;
  color: #ffffff;
}
/* line 56, html/app/index/index.less */
section.upper .slogan {
  margin: 10px 0 30px;
  color: rgba(255, 255, 255, 0.95);
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
}
/* line 63, html/app/index/index.less */
section.upper .browse {
  display: inline-block;
  padding: 13px 88px;
  color: rgba(255, 255, 255, 0.95);
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 40px;
  -webkit-transition: background 0.3s, border-color 0.3s;
          transition: background 0.3s, border-color 0.3s;
}
/* line 71, html/app/index/index.less */
section.upper .browse:hover,
section.upper .browse:focus {
  border-color: rgba(0, 0, 0, 0.8);
  background: rgba(0, 0, 0, 0.8);
}
/* line 79, html/app/index/index.less */
section.lower {
  position: absolute;
  bottom: 10%;
  left: 0;
  z-index: 1;
  width: 100%;
  text-align: center;
}
/* line 86, html/app/index/index.less */
section.lower .caption {
  margin: 0;
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  font-weight: normal;
}
/* line 93, html/app/index/index.less */
section.lower .avatar img {
  width: 96px;
  height: 96px;
  margin: 10px 0;
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  opacity: .9;
  -webkit-transition: opacity .3s;
          transition: opacity .3s;
}
/* line 102, html/app/index/index.less */
section.lower .avatar:hover img,
section.lower .avatar:focus img {
  opacity: 1;
}
/* line 107, html/app/index/index.less */
section.lower .username {
  margin: 0;
}
/* line 109, html/app/index/index.less */
section.lower .username a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: normal;
}
/* line 113, html/app/index/index.less */
section.lower .username a:hover,
section.lower .username a:focus {
  color: #ffffff;
  text-decoration: underline;
}
/* line 122, html/app/index/index.less */
footer.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
}
