/* line 7, html/app/global/global.less */
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* line 14, html/app/global/global.less */
::-moz-selection {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.8);
}
::selection {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.8);
}
/* line 20, html/app/global/global.less */
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
/* line 32, html/app/global/global.less */
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
@font-face {
  font-family: "logo";
  src: url('logo/iconfont.eot');
  src: url('logo/iconfont.eot?#iefix') format('embedded-opentype'), url('logo/iconfont.woff') format('woff'), url('logo/iconfont.ttf') format('truetype'), url('logo/iconfont.svg#kacayixia') format('svg');
}
/* line 49, html/app/global/global.less */
.sj-logo {
  display: inline-block;
  font-family: "logo" !important;
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
/* line 61, html/app/global/global.less */
.sj-logo:before {
  content: "\e600";
}
/* line 67, html/app/global/global.less */
[class^="fi-"],
[class*=" fi-"] {
  position: relative;
  top: -1px;
  display: inline-block;
  font-family: 'fontello';
  font-style: normal;
  font-weight: 400;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all .2s;
          transition: all .2s;
}
/* line 79, html/app/global/global.less */
[class^="fi-"]:before,
[class*=" fi-"]:before {
  display: inline-block;
  width: 1em;
  margin: 0;
}
/* line 87, html/app/global/global.less */
html,
body {
  height: 100%;
  min-height: 100%;
  color: #000000;
  background-color: #F8F9F7;
}
/* line 95, html/app/global/global.less */
body,
button,
input,
select,
textarea {
  font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', sans-serif;
}
/* line 103, html/app/global/global.less */
body {
  padding-top: 3px;
}
/* line 108, html/app/global/global.less */
body:before {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 3px;
  overflow: hidden;
  background: url("color_bar.png") center 0 no-repeat transparent;
  content: "";
  opacity: .9;
}
/* line 123, html/app/global/global.less */
a {
  color: #000000;
  text-decoration: none;
  -webkit-transition: all .2s;
          transition: all .2s;
}
/* line 130, html/app/global/global.less */
img.img-response {
  max-width: 100%;
}
/* line 135, html/app/global/global.less */
.btn {
  color: #000000;
  border: 1px solid #ddd;
  border-radius: 40px;
  -webkit-transition: background 0.3s, border-color 0.3s;
          transition: background 0.3s, border-color 0.3s;
}
/* line 140, html/app/global/global.less */
.btn:hover,
.btn:focus {
  color: #ffffff;
  border-color: rgba(0, 0, 0, 0.8);
  background: rgba(0, 0, 0, 0.8);
}
/* line 149, html/app/global/global.less */
header.header {
  position: relative;
  height: 100px;
  margin-bottom: 20px;
}
/* line 153, html/app/global/global.less */
header.header .logo {
  height: 82px;
  margin: 0;
  text-align: center;
}
/* line 157, html/app/global/global.less */
header.header .logo .sj-logo {
  font-size: 60px;
  line-height: 82px;
}
/* line 162, html/app/global/global.less */
header.header .slogan {
  margin: 0;
  text-align: center;
  font-weight: normal;
  font-size: 10px;
}
/* line 168, html/app/global/global.less */
header.header .user-nav-l,
header.header .user-nav-r {
  position: relative;
  margin: -100px 0;
  padding: 0;
  line-height: 100px;
  list-style: none;
}
/* line 175, html/app/global/global.less */
header.header .user-nav-l li,
header.header .user-nav-r li {
  float: left;
}
/* line 179, html/app/global/global.less */
header.header .user-nav-l {
  float: left;
}
/* line 181, html/app/global/global.less */
header.header .user-nav-l a {
  color: #bbbbbb;
}
/* line 183, html/app/global/global.less */
header.header .user-nav-l a:hover,
header.header .user-nav-l a:focus {
  color: #000000;
}
/* line 188, html/app/global/global.less */
header.header .user-nav-l li {
  margin-right: 10px;
}
/* line 190, html/app/global/global.less */
header.header .user-nav-l li.avatar img {
  -webkit-transition: -webkit-transform .3s;
          transition: transform .3s;
  vertical-align: middle;
}
/* line 194, html/app/global/global.less */
header.header .user-nav-l li.name a {
  color: #000000;
}
/* line 196, html/app/global/global.less */
header.header .user-nav-l li.name a:hover,
header.header .user-nav-l li.name a:focus {
  text-decoration: underline;
}
/* line 203, html/app/global/global.less */
header.header .user-nav-r {
  float: right;
}
/* line 205, html/app/global/global.less */
header.header .user-nav-r li {
  margin-left: 10px;
}
/* line 208, html/app/global/global.less */
header.header .user-nav-r a {
  padding: 1em 3em;
}
/* line 215, html/app/global/global.less */
footer.footer {
  margin: 40px 0 20px;
  text-align: center;
  color: #000000;
}
/* line 222, html/app/global/global.less */
.pagination {
  margin-top: 10px;
  text-align: center;
}
/* line 225, html/app/global/global.less */
.pagination a {
  display: inline-block;
  margin: 0 10px;
}
/* line 229, html/app/global/global.less */
.pagination [class^="fi-"] {
  padding: 15px;
  font-size: 24px;
  font-weight: bold;
}
