
@font-face {font-family: "sj";
  src: url('iconfont.eot?t=1459230706'); /* IE9*/
  src: url('iconfont.eot?t=1459230706#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1459230706') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1459230706') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1459230706#sj') format('svg'); /* iOS 4.1- */
}

.sj {
  font-family:"sj" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.sj-joke-face:before { content: "\e609"; }
.sj-magnifier:before { content: "\e607"; }
.sj-reply:before { content: "\e605"; }
.sj-info:before { content: "\e60a"; }
.sj-info-o:before { content: "\e60b"; }
.sj-download:before { content: "\e606"; }
.sj-comment:before { content: "\e608"; }
.sj-heart-o:before { content: "\e601"; }
.sj-heart:before { content: "\e602"; }
.sj-logo:before { content: "\e600"; }
.sj-end:before { content: "\e60d"; }
.sj-radio-checked:before { content: "\e60e"; }
.sj-unchecked:before { content: "\e60f"; }
.sj-checkbox-checked:before { content: "\e610"; }
.sj-trash:before { content: "\e60c"; }
.sj-arrow-r:before { content: "\e603"; }
.sj-arrow-l:before { content: "\e604"; }
