* {
  font-family: "Lantinghei SC", "Open Sans", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
  font-weight: lighter;
  -webkit-transition: all .3s;
  transition: all .3s;
  webkit-tap-highlight-color: transparent;
}
*:hover .sj,
*:focus .sj {
  -webkit-transition: none;
  transition: none;
}
::-moz-selection {
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
}
::selection {
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
}
html,
body {
  min-height: 100%;
  color: #000;
  background-color: #F8F9F7;
}
body {
  padding-top: 3px;
}
body:before {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 3px;
  overflow: hidden;
  background: url("../img/color_bar.png") center 0 no-repeat transparent;
  content: "";
  opacity: .9;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #999999;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: inherit;
}
header.crown {
  position: relative;
  margin-bottom: 20px;
}
header.crown .logo {
  text-align: center;
}
header.crown .logo a {
  display: inline-block;
  width: 100px;
  height: 88px;
  font-size: 4em;
}
header.crown .logo a:hover,
header.crown .logo a:focus {
  text-decoration: none;
}
header.crown .logo .slogan {
  margin: 0;
  font-size: 0.85714286em;
}
header.crown .nav-action-l,
header.crown .nav-action-r {
  position: relative;
  margin: -100px 0;
  padding: 0;
  line-height: 100px;
  list-style: none;
}
header.crown .nav-action-l li,
header.crown .nav-action-r li {
  float: left;
}
header.crown .nav-action-l {
  float: left;
}
header.crown .nav-action-l a {
  color: #bbbbbb;
}
header.crown .nav-action-l a:hover,
header.crown .nav-action-l a:focus {
  color: #000;
}
header.crown .nav-action-l li {
  margin-right: 10px;
}
header.crown .nav-action-l li.avatar img {
  vertical-align: middle;
}
header.crown .nav-action-l li.name a {
  color: #000;
}
header.crown .nav-action-l li.name a:hover,
header.crown .nav-action-l li.name a:focus {
  text-decoration: underline;
}
header.crown .nav-action-r {
  float: right;
}
header.crown .nav-action-r li {
  margin-left: 10px;
}
header.crown .nav-action-r .btn {
  line-height: 1.5;
}
footer.root {
  margin: 40px 0 20px;
  text-align: center;
  color: #000;
}
.pagination {
  margin-top: 10px;
  text-align: center;
}
.pagination a {
  display: inline-block;
  width: 66px;
  height: 66px;
  margin: 0 10px;
  padding: 0;
  line-height: 65px;
}
.pagination .sj {
  font-size: 1.714em;
}
.btn {
  display: inline-block;
  padding: 1em 3em;
  color: #000;
  border: 1px solid #ddd;
  border-radius: 40px;
}
.btn:hover,
.btn:focus {
  color: #fff;
  border-color: rgba(0, 0, 0, 0.4);
  background: rgba(0, 0, 0, 0.8);
}
.btn-block {
  display: block;
  text-align: center;
}
.form-group {
  margin-bottom: 15px;
}
.form-group .input-text {
  position: relative;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
  display: block;
  width: 100%;
  padding: 1em;
  border: none;
  background: none;
}
.form-group input[type="text"] + .input-border,
.form-group input[type="email"] + .input-border,
.form-group input[type="password"] + .input-border {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 3px;
  border: 1px solid #bbbbbb;
  border-top: none;
}
.form-group input[type="text"]:focus + .input-border,
.form-group input[type="email"]:focus + .input-border,
.form-group input[type="password"]:focus + .input-border {
  border-color: #000;
}
.form-group input[disabled] {
  color: #999999;
}
.sj {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-text-stroke-width: 0;
}
.animate-spin {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.media {
  border-bottom: 1px solid #eeeeee;
}
.media .media {
  border-bottom: none;
}
.media-heading a:hover,
.media-heading a:focus {
  text-decoration: underline;
}
.media-content p:first-child {
  margin: 0;
}
.media-meta {
  margin-top: 10px;
  color: #bbbbbb;
}
.mfp-bg {
  background: #fff;
  opacity: .9;
}
.mfp-figure:after {
  box-shadow: none;
}
.mfp-title,
.mfp-close {
  color: #000;
}
