* {
  font-family: "Lantinghei SC", "Open Sans", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
  font-weight: lighter;
  -webkit-transition: all .3s;
  transition: all .3s;
  webkit-tap-highlight-color: transparent;
  cursor: default;
}
::-moz-selection {
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
}
::selection {
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
}
html,
body {
  min-height: 100%;
  color: #000;
  background-color: #F8F9F7;
}
body {
  padding-top: 3px;
}
body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 1;
  display: block;
  width: 210px;
  height: 3px;
  margin-left: -105px;
  overflow: hidden;
  background: url("../img/color-bar.png") center 0 no-repeat transparent;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1300px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 1300px), only screen and (min-device-pixel-ratio: 2) and (min-width: 1300px), only screen and (min-resolution: 192dpi) and (min-width: 1300px), only screen and (min-resolution: 2dppx) and (min-width: 1300px) {
  body {
    /* Large screen, retina, stuff to override above media query */
  }
  body:before {
    background: url("../img/color-bar@2x.png") center 0 no-repeat transparent;
  }
}
a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
a:hover,
a:focus {
  color: #999999;
}
a * {
  cursor: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: inherit;
}
header.crown {
  position: relative;
  margin-bottom: 20px;
}
header.crown .logo {
  text-align: center;
}
header.crown .logo a {
  display: inline-block;
  width: 100px;
  height: 88px;
  font-size: 4em;
}
header.crown .logo a:hover,
header.crown .logo a:focus {
  text-decoration: none;
}
header.crown .logo .slogan {
  margin: 0;
  font-size: 12px;
}
header.crown .nav-action-l,
header.crown .nav-action-r {
  position: relative;
  margin: -100px 0;
  padding: 0;
  line-height: 100px;
  list-style: none;
}
header.crown .nav-action-l li,
header.crown .nav-action-r li {
  float: left;
}
header.crown .nav-action-l {
  float: left;
}
header.crown .nav-action-l a {
  color: #bbbbbb;
}
header.crown .nav-action-l a:hover,
header.crown .nav-action-l a:focus {
  color: #000;
}
header.crown .nav-action-l li {
  margin-right: 10px;
}
header.crown .nav-action-l li.avatar img {
  vertical-align: middle;
  width: 46px;
  height: 46px;
}
header.crown .nav-action-l li.name a {
  color: #000;
}
header.crown .nav-action-l li.name a:hover,
header.crown .nav-action-l li.name a:focus {
  text-decoration: underline;
}
header.crown .nav-action-r {
  float: right;
}
header.crown .nav-action-r li {
  margin-left: 10px;
}
header.crown .nav-action-r .btn {
  line-height: 1.5;
}
footer.root {
  margin: 40px 0 20px;
  text-align: center;
  color: #000;
}
.pagination {
  margin-top: 10px;
  text-align: center;
}
.pagination a {
  display: inline-block;
  width: 66px;
  height: 66px;
  margin: 0 10px;
  padding: 0;
  line-height: 65px;
}
.pagination .sj {
  font-size: 1.714em;
}
.pagination .sj-end {
  color: #bbbbbb;
  text-shadow: none;
}
.clear-trans {
  -webkit-transition: none;
  transition: none;
}
.sj {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-text-stroke-width: 0;
}
#nprogress .bar {
  height: 3px;
  background: #111;
}
#nprogress .peg {
  box-shadow: 0 0 10px #111, 0 0 5px #111;
}
#nprogress .spinner-icon {
  border-top-color: #111;
  border-left-color: #111;
}
.sk-wave {
  margin: 18px auto;
  width: 50px;
  height: 67px;
  text-align: center;
  font-size: 10px;
}
.sk-wave .sk-rect {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
          animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
}
.sk-wave .sk-rect1 {
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}
.sk-wave .sk-rect2 {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}
.sk-wave .sk-rect3 {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.sk-wave .sk-rect4 {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
.sk-wave .sk-rect5 {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
@-webkit-keyframes sk-waveStretchDelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes sk-waveStretchDelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
.btn {
  display: inline-block;
  padding: 1em 3em;
  color: #000;
  border: 1px solid #ddd;
  border-radius: 40px;
}
.btn:hover,
.btn:focus {
  color: #fff;
  border-color: rgba(0, 0, 0, 0.4);
  background: rgba(0, 0, 0, 0.8);
}
.btn-block {
  display: block;
  text-align: center;
}
.form-group {
  margin-bottom: 15px;
}
.form-group .input-text {
  position: relative;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
  display: block;
  width: 100%;
  padding: 1em;
  border: none;
  background: none;
}
.form-group input[type="text"] + .input-border,
.form-group input[type="email"] + .input-border,
.form-group input[type="password"] + .input-border {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 3px;
  border: 1px solid #bbbbbb;
  border-top: none;
}
.form-group input[type="text"]:focus + .input-border,
.form-group input[type="email"]:focus + .input-border,
.form-group input[type="password"]:focus + .input-border {
  border-color: #000;
}
.form-group input[disabled] {
  color: #999999;
}
.radio-inline,
.checkbox-inline {
  padding: 0;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-left: 30px;
}
.radio-inline .sj {
  margin-right: 5px;
}
.radio-inline input {
  left: -9999px;
  margin: 0 !important;
}
.media {
  border-bottom: 1px solid #eeeeee;
}
.media .media {
  border-bottom: none;
}
.media-heading a:hover,
.media-heading a:focus {
  text-decoration: underline;
}
.media-content p:first-child {
  margin: 0;
}
.media-meta {
  margin-top: 10px;
  color: #bbbbbb;
}
.mfp-bg {
  background: #fff;
  opacity: .9;
}
.mfp-figure:after {
  box-shadow: none;
}
.mfp-title,
.mfp-close {
  color: #000;
}
