/* line 8, html/app/sign/sign.less */
.sign-up .title,
.sign-in .title {
  text-align: center;
  margin: 30px 0 40px;
}
/* line 11, html/app/sign/sign.less */
.sign-up .title h1,
.sign-in .title h1,
.sign-up .title h4,
.sign-in .title h4 {
  margin: 0;
  font-weight: normal;
}
/* line 15, html/app/sign/sign.less */
.sign-up .title h1,
.sign-in .title h1 {
  margin-bottom: 10px;
}
/* line 18, html/app/sign/sign.less */
.sign-up .title h4,
.sign-in .title h4 {
  color: #bbbbbb;
}
/* line 22, html/app/sign/sign.less */
.sign-up form,
.sign-in form {
  text-align: center;
}
/* line 24, html/app/sign/sign.less */
.sign-up form .avatar-upload-default,
.sign-in form .avatar-upload-default,
.sign-up form .avatar-upload-change,
.sign-in form .avatar-upload-change {
  position: relative;
  width: 128px;
  height: 128px;
  margin: 0 auto;
  border: 5px solid #eeeeee;
  border-radius: 50%;
}
/* line 32, html/app/sign/sign.less */
.sign-up form .avatar-upload-default [class^="fi-"],
.sign-in form .avatar-upload-default [class^="fi-"],
.sign-up form .avatar-upload-change [class^="fi-"],
.sign-in form .avatar-upload-change [class^="fi-"],
.sign-up form .avatar-upload-default [class*=" fi-"],
.sign-in form .avatar-upload-default [class*=" fi-"],
.sign-up form .avatar-upload-change [class*=" fi-"],
.sign-in form .avatar-upload-change [class*=" fi-"] {
  font-size: 8em;
  color: #dddddd;
}
/* line 37, html/app/sign/sign.less */
.sign-up form .avatar-upload-default a.upload-link,
.sign-in form .avatar-upload-default a.upload-link,
.sign-up form .avatar-upload-change a.upload-link,
.sign-in form .avatar-upload-change a.upload-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  padding: 34px 0;
  font-size: 1.14285714em;
  color: #bbbbbb;
}
/* line 47, html/app/sign/sign.less */
.sign-up form .avatar-upload-default a.upload-link:hover,
.sign-in form .avatar-upload-default a.upload-link:hover,
.sign-up form .avatar-upload-change a.upload-link:hover,
.sign-in form .avatar-upload-change a.upload-link:hover,
.sign-up form .avatar-upload-default a.upload-link:focus,
.sign-in form .avatar-upload-default a.upload-link:focus,
.sign-up form .avatar-upload-change a.upload-link:focus,
.sign-in form .avatar-upload-change a.upload-link:focus {
  color: #000000;
}
/* line 53, html/app/sign/sign.less */
.sign-up form .avatar-upload-change,
.sign-in form .avatar-upload-change {
  border: none;
}
/* line 55, html/app/sign/sign.less */
.sign-up form .avatar-upload-change a.upload-link,
.sign-in form .avatar-upload-change a.upload-link {
  padding: 38px 0;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 61, html/app/sign/sign.less */
.sign-up form .btn,
.sign-in form .btn {
  font-size: 1.14285714em;
}
/* line 65, html/app/sign/sign.less */
.sign-up .sign-switch,
.sign-in .sign-switch {
  margin-bottom: 15px;
  text-align: center;
}
/* line 68, html/app/sign/sign.less */
.sign-up .sign-switch span,
.sign-in .sign-switch span {
  color: #999999;
}
/* line 71, html/app/sign/sign.less */
.sign-up .sign-switch a:hover,
.sign-in .sign-switch a:hover,
.sign-up .sign-switch a:focus,
.sign-in .sign-switch a:focus {
  text-decoration: underline;
}
/* line 76, html/app/sign/sign.less */
.sign-up section.sign-in-animation,
.sign-in section.sign-in-animation {
  position: relative;
  height: 201px;
  margin-bottom: 20px;
  overflow: hidden;
}
/* line 81, html/app/sign/sign.less */
.sign-up section.sign-in-animation .sign-in-form,
.sign-in section.sign-in-animation .sign-in-form,
.sign-up section.sign-in-animation .sign-in-loading,
.sign-in section.sign-in-animation .sign-in-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
/* line 89, html/app/sign/sign.less */
.sign-up section.sign-in-animation ul.sign-in-loading,
.sign-in section.sign-in-animation ul.sign-in-loading {
  display: none;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 95, html/app/sign/sign.less */
.sign-up section.sign-in-animation ul.sign-in-loading li,
.sign-in section.sign-in-animation ul.sign-in-loading li {
  margin-bottom: 10px;
}
/* line 98, html/app/sign/sign.less */
.sign-up section.sign-in-animation ul.sign-in-loading .avatar,
.sign-in section.sign-in-animation ul.sign-in-loading .avatar {
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}
/* line 100, html/app/sign/sign.less */
.sign-up section.sign-in-animation ul.sign-in-loading .avatar img,
.sign-in section.sign-in-animation ul.sign-in-loading .avatar img {
  display: block;
  margin: auto;
}
/* line 105, html/app/sign/sign.less */
.sign-up section.sign-in-animation ul.sign-in-loading .loading,
.sign-in section.sign-in-animation ul.sign-in-loading .loading {
  color: #999999;
}
/* line 107, html/app/sign/sign.less */
.sign-up section.sign-in-animation ul.sign-in-loading .loading [class^="fi-"],
.sign-in section.sign-in-animation ul.sign-in-loading .loading [class^="fi-"],
.sign-up section.sign-in-animation ul.sign-in-loading .loading [class*=" fi-"],
.sign-in section.sign-in-animation ul.sign-in-loading .loading [class*=" fi-"] {
  margin-right: 5px;
  font-size: 1.42857143em;
  color: #000000;
}
