.my-tree .title {
  text-align: center;
  margin: 50px 0 40px;
}
.my-tree .title h1,
.my-tree .title h4 {
  margin: 0;
}
.my-tree .title h1 {
  margin-bottom: 10px;
}
.my-tree .title h4,
.my-tree .title a {
  color: #bbbbbb;
}
.my-profile form {
  text-align: center;
}
.my-profile form .avatar-upload-default,
.my-profile form .avatar-upload-change {
  position: relative;
  width: 128px;
  height: 128px;
  margin: 0 auto;
  border: 5px solid #eeeeee;
  border-radius: 50%;
}
.my-profile form .avatar-upload-default [class^="fi-"],
.my-profile form .avatar-upload-change [class^="fi-"],
.my-profile form .avatar-upload-default [class*=" fi-"],
.my-profile form .avatar-upload-change [class*=" fi-"] {
  font-size: 8em;
  color: #dddddd;
}
.my-profile form .avatar-upload-default a.upload-link,
.my-profile form .avatar-upload-change a.upload-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  padding: 34px 0;
  font-size: 16px;
  color: #bbbbbb;
}
.my-profile form .avatar-upload-default a.upload-link:hover,
.my-profile form .avatar-upload-change a.upload-link:hover,
.my-profile form .avatar-upload-default a.upload-link:focus,
.my-profile form .avatar-upload-change a.upload-link:focus {
  color: #000;
}
.my-profile form .avatar-upload-change {
  border: none;
}
.my-profile form .avatar-upload-change a.upload-link {
  padding: 38px 0;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
}
.my-profile form .btn {
  font-size: 16px;
}
.my-upload .dropzone {
  background-color: #eeeeee;
  border: none;
}
.my-upload .dropzone .dz-message {
  margin: 6em 0;
  font-size: 18px;
  color: #bbbbbb;
}
.my-album .title h1 {
  font-size: 18px;
}
.my-album .title h4 {
  font-size: 16px;
}
.my-album figure {
  margin: 0 0 20px;
}
.my-album figure .photo {
  position: relative;
}
.my-album figure .photo .photo-over {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 1;
  background-color: transparent;
  opacity: 0;
}
.my-album figure .photo .photo-over .sj {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.5em;
  margin-left: -0.5em;
  color: #fff;
  font-size: 2.571em;
}
.my-album figure .photo:hover .photo-over,
.my-album figure .photo:focus .photo-over {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.35);
}
.my-album figure figcaption {
  height: 42px;
  margin-top: 8px;
  line-height: 42px;
}
.my-album figure figcaption .like {
  float: left;
}
.my-album figure figcaption .like .sj {
  margin-right: 5px;
  font-size: 18px;
  vertical-align: middle;
}
.my-album figure figcaption .like .sj-heart {
  color: #FF5736;
}
.my-album figure figcaption .del {
  float: right;
  text-decoration: none;
}
.my-price {
  font-size: 20px;
}
.my-price .price-img {
  overflow: hidden;
  padding: 30px 0;
  border-top: 1px solid #eeeeee;
}
.my-price .price-img:first-child {
  padding-top: 0;
  border-top: none;
}
.my-price dl {
  margin: 0;
  padding: 15px 0;
}
.my-price dt {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: inherit;
  color: #bbbbbb;
  font-size: 14px;
}
.my-price dt:first-child {
  margin-top: 0;
}
