.moments-list figure,
.moment-details figure.photo-preview {
  margin: 0 0 20px;
}
.moments-list figure .photo,
.moment-details figure.photo-preview .photo {
  position: relative;
}
.moments-list figure .photo .photo-over,
.moment-details figure.photo-preview .photo .photo-over {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 1;
  background-color: transparent;
  opacity: 0;
}
.moments-list figure .photo .photo-over .sj,
.moment-details figure.photo-preview .photo .photo-over .sj {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.5em;
  margin-left: -0.5em;
  color: #fff;
  font-size: 2.571em;
}
.moments-list figure .photo:hover .photo-over,
.moment-details figure.photo-preview .photo:hover .photo-over,
.moments-list figure .photo:focus .photo-over,
.moment-details figure.photo-preview .photo:focus .photo-over {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.35);
}
.moments-list figure figcaption,
.moment-details figure.photo-preview figcaption {
  height: 40px;
  margin-top: 8px;
  line-height: 40px;
}
.moments-list figure figcaption .avatar,
.moment-details figure.photo-preview figcaption .avatar {
  float: left;
}
.moments-list figure figcaption .avatar img,
.moment-details figure.photo-preview figcaption .avatar img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}
.moments-list figure figcaption .like,
.moment-details figure.photo-preview figcaption .like {
  float: right;
  text-decoration: none;
}
.moments-list figure figcaption .sj,
.moment-details figure.photo-preview figcaption .sj {
  font-size: 18px;
}
.moments-list figure figcaption .sj-heart-o,
.moment-details figure.photo-preview figcaption .sj-heart-o {
  color: #bbbbbb;
}
.moments-list figure figcaption .sj-heart-o:hover,
.moment-details figure.photo-preview figcaption .sj-heart-o:hover {
  color: #FF5736;
}
.moments-list figure figcaption .sj-heart,
.moment-details figure.photo-preview figcaption .sj-heart {
  color: #FF5736;
}
.moments-list figure .photo-link {
  position: relative;
  display: block;
  height: 266px;
  overflow: hidden;
}
.moments-list figure .photo-link img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: auto;
  margin: auto;
}
.moments-list figure.top-pick .photo-link {
  height: 600px;
}
.moment-details figure.photo-preview {
  margin-bottom: 40px;
}
.moment-details figure.photo-preview .photo-over {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
.moment-details .breadcrumb {
  line-height: 2;
  margin-bottom: 10px;
}
.moment-details .breadcrumb .sj {
  margin-right: 5px;
  font-size: 14px;
}
.moment-details .photo-info .title {
  margin: 0;
}
.moment-details .photo-info .title .sj {
  margin-right: 5px;
}
.moment-details .photo-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.moment-details .photo-info ul.info {
  margin-bottom: 15px;
  padding: 15px 0;
  line-height: 2.5;
  border-bottom: 1px solid #eeeeee;
}
.moment-details .photo-info ul.info span.k {
  display: inline-block;
  width: 3em;
  margin-right: 1em;
  color: #bbbbbb;
}
.moment-details .photo-info ul.price li {
  margin-bottom: 15px;
  overflow: hidden;
}
.moment-details .photo-info .dl-btn span {
  float: left;
  display: inline-block;
  height: 50px;
  line-height: 48px;
  border: 1px solid #ddd;
}
.moment-details .photo-info .dl-btn:hover,
.moment-details .photo-info .dl-btn:focus {
  cursor: pointer;
}
.moment-details .photo-info .dl-btn:hover span,
.moment-details .photo-info .dl-btn:focus span {
  color: #fff;
  border-color: transparent;
  background: rgba(0, 0, 0, 0.8);
}
.moment-details .photo-info .dl-btn .sj {
  font-size: 14px;
  margin-right: 5px;
}
.moment-details .photo-info .dl-btn .k {
  padding-left: 2.5em;
  padding-right: 2em;
  border-right: none;
  border-radius: 40px 0 0 40px;
}
.moment-details .photo-info .dl-btn .v {
  padding-left: 2em;
  padding-right: 2.5em;
  color: #fff;
  border-color: rgba(0, 0, 0, 0.8);
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0 40px 40px 0;
}
.moment-details .photo-info .dl-btn em {
  color: #bbbbbb;
  font-style: normal;
  vertical-align: middle;
}
.moment-details .comments .title {
  padding-bottom: 15px;
  border-bottom: 1px solid #eeeeee;
}
.moment-details .comments .title .sj {
  font-size: 20px;
}
.moment-details .comments .title span {
  margin: 0 5px;
  color: #bbbbbb;
}
.moment-details .comments .media-object {
  border-radius: 50%;
}
.moment-details .comments .sj-reply {
  margin-left: 5px;
}
.moment-details .comments .comment-reply {
  display: none;
}
.moment-details .comments .comment-reply .form-group input[type="text"] {
  padding: .5em .7em;
}
.moment-details .comments .comment-reply .form-group .btn {
  padding: .5em;
}
